titanium.platform=~/Library/Application Support/Titanium/mobilesdk/osx/6.0.1.GA/android
android.platform=~/Library/Android/sdk/platforms/android-25
google.apis=~/Library/Android/sdk/extras/google/google_play_services/
android.ndk=~/Library/Android/sdk/ndk-bundle
